torch>=1.9.0
torchvision
transformers==4.28.1
deepspeed==0.8.3
xformers
apex
timm==0.5.4
webdataset>=0.2.5
tqdm
pandas
braceexpand
huggingface_hub
transformers
Pillow
blobfile
mypy
numpy
pytest
requests
einops
tensorboardX
scipy
sh
wandb
ftfy
regex
iopath
pyyaml
