torch>=1.9.0
torchvision
deepspeed==0.6.5
xformers
apex
timm==0.5.4
webdataset>=0.2.5
tqdm
pandas
braceexpand
huggingface_hub
transformers
Pillow
blobfile
mypy
numpy
pytest
requests
einops
tensorboardX
scipy
sh
wandb
ftfy
regex
iopath
yaml
